<h1>Your Cart</h1>

<%if @cart.empty?%>
  <p> Your cart is currently empty</p>
<%else%>
  <%= link_to 'Empty Your Cart', cart_clear_path%>
<%end%>

<%total=0%>
<br><br><br>

<ul>
<% @cart.each do |id, quantity|%>
	<% product = Product.find_by_id(id)%>
		<li>
			<p><%= link_to product.title, product%></p>
			<p><%= product.description%></p>
			<p><%= number_to_currency(product.price, :unit => "$")%></p>
			<p>Quantity: <%= quantity%></p><br>
		</li>
		<%total+=quantity*product.price%>
</ul>
<%end%>

<p><b>Total: <%= number_to_currency(total, :unit => '$')%></b></p>